# Created by .ignore support plugin (hsz.mobi)
### Python template

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
__init__.py

# Unit test / coverage reports
tests/*
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/_build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
.idea/*
.python-version

# other documents
resources/Other/*
scripts/python/drafts/*
resources/ontologies/drafts/*
resources/ontologies/v1.0.0/catalog-v001.xml
resources/endpoints/*
resources/graphs/applications/*
scripts/python/test.py

# mkdocs documentation
/site
=
