# Created by .ignore support plugin (hsz.mobi)

# Distribution/packaging/Environments
__pycache__/
.idea/
.ipynb_checkpoints/*
.mypy*

# data and scripts
/resources/processed_data/
/resources/edge_data/*
/resources/node_data/*
/resources/relations_data/*
/resources/knowledge_graphs/
/resources/kr_model/
/resources/ontologies/*
/resources/*.json
/resources/embeddings/*
Untitled*
PheKnowLator/kg_embedding_visualizer.py
PheKnowLator/knowledge_graph_embedder.py

# ignoring resource preparation files and metadata information
!/resources/ontologies/ontology_source_metadata.txt
!/resources/edge_data/class_source_metadata.txt
!/resources/edge_data/instance_source_metadata.txt
!/resources/node_data/README.md
!/resources/relations_data/README.md
!/resources/embeddings/README.md
!/resources/knowledge_graphs/OWL_NETS_Property_Types.txt

# releases
/releases/*

# API keys/passwords
/resources/bioportal_api_key.txt

# external libraries
PheKnowLator/libs/walking-rdf-and-owl-master/*
PheKnowLator/libs/deepwalk_c_master/*

# test files in progress (tests for helper functions/utilities)
tests/test_ncbo_rest_api.py
